USE [FocusPPA]
GO
/****** Object:  Table [dbo].[onproject]    Script Date: 5/28/2014 3:31:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[onproject](
	[mnindex] [varchar](20) NOT NULL,
	[mngroup] [varchar](20) NOT NULL,
	[ket] [varchar](50) NOT NULL,
	[tipemenu] [varchar](5) NOT NULL,
	[namasubmen] [varchar](250) NOT NULL,
	[Visible] [tinyint] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[onproject] ([mnindex], [mngroup], [ket], [tipemenu], [namasubmen], [Visible]) VALUES (N'092112', N'lsent', N'Update Market Value', N'A', N'script/frameproc.asp?proc1=Leasing/UpdateMarketValue.asp&tinggi=177', 1)
INSERT [dbo].[onproject] ([mnindex], [mngroup], [ket], [tipemenu], [namasubmen], [Visible]) VALUES (N'097107', N'lsprc', N'Interest Suspension Process', N'A', N'script/frameproc.asp?proc1=Leasing/IntSuspension.asp&tinggi=104', 1)
INSERT [dbo].[onproject] ([mnindex], [mngroup], [ket], [tipemenu], [namasubmen], [Visible]) VALUES (N'060103', N'cashpar', N'Payment Type', N'A', N'script/frameproc.asp?proc1=BankBook/PaymentType.asp&nav=top&tinggi=150', 1)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_onproject]    Script Date: 5/28/2014 3:31:37 PM ******/
ALTER TABLE [dbo].[onproject] ADD  CONSTRAINT [PK_onproject] PRIMARY KEY NONCLUSTERED 
(
	[mnindex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[onproject] ADD  CONSTRAINT [DF_onproject_Visible]  DEFAULT ((1)) FOR [Visible]
GO
